/* You can add global styles to this file, and also import other style files */


body {
    background-image: url(./assets/elektrik-dizajn.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: "Noto Sans", sans-serif;
    color: aliceblue;
  }